<header class="topo">
  <div>
      <img src="https://www.senairs.org.br/sites/default/files/styles/scale_sm/public/logos/logos_senai_branco.png?itok=25HaNKVc" alt="" srcset="">
      <img src="https://www.senairs.org.br/sites/default/files/styles/scale_sm/public/logos/logos_senai_branco.png?itok=25HaNKVc" alt="" srcset="">
  </div>
  <div class="texto">
      <div>
          HOME
      </div>
      <div>
          AGENDA
      </div>
      <div>
          SOBRE
      </div>
      <div id="iconPessoa" (click)="abrirModalPerfil()">
          <span class="material-symbols-outlined">
              person
          </span>
      </div>
  </div>
  <app-perfil *ngIf="verPerfil" style="position: fixed; right: 20rem; top: 5%;"></app-perfil>
</header>