* {
    margin: 0;
}

#modalUser {
    background-color: #F9F6F6;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #0000;
    position: fixed;
}

#containerModal {
    justify-content: center;
    padding: 15px 20px;
}

#imagemUser {
    display: flex;
    justify-content: center;
}

#imagem {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #0047B6;
}

#conteudo {
    margin-top: 5%;
}

#nomeUser, #emailUser {
    display: flex;
    justify-content: center;
}

#nomeUser {
    font-size: 18px;
    font-weight: 600;
}

#emailUser {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.568);
    margin-top: 2%;
}

#containerSair, #iconeSair {
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerSair {
    margin: 5% 0;
}