<div class="redor" >
  <app-linha>
    <app-visor [numerosVisor]="numerosTela" class="visor"></app-visor>
  </app-linha>
  <app-linha>
    <app-botao [numbers]="'1'" class="numeros" (onClick)="clickDiv($event)"></app-botao>
    <app-botao [numbers]="'2'" class="numeros" (onClick)="clickDiv($event)"></app-botao>
    <app-botao [numbers]="'3'" class="numeros" (onClick)="clickDiv($event)"></app-botao>
    <app-botao [numbers]="'+'" class="sinais" (onClick)="clickDiv($event)"></app-botao>
  </app-linha>
  <app-linha>
    <app-botao [numbers]="'4'" class="numeros" (onClick)="clickDiv($event)"></app-botao>
    <app-botao [numbers]="'5'" class="numeros" (onClick)="clickDiv($event)"></app-botao>
    <app-botao [numbers]="'6'" class="numeros" (onClick)="clickDiv($event)"></app-botao>
    <app-botao [numbers]="'-'" class="sinais" (onClick)="clickDiv($event)"></app-botao>
  </app-linha>
  <app-linha>
    <app-botao [numbers]="'7'" class="numeros" (onClick)="clickDiv($event)"></app-botao>
    <app-botao [numbers]="'8'" class="numeros" (onClick)="clickDiv($event)"></app-botao>
    <app-botao [numbers]="'9'" class="numeros" (onClick)="clickDiv($event)"></app-botao>
    <app-botao [numbers]="'*'" class="sinais" (onClick)="clickDiv($event)"></app-botao>
  </app-linha>
  <app-linha>
    <app-botao [numbers]="'0'" class="numeros" (onClick)="clickDiv($event)"></app-botao>
    <app-botao [numbers]="'/'" class="sinais" (onClick)="clickDiv($event)"></app-botao>
    <app-botao [numbers]="'='" class="sinais" (onClick)="resultado()"></app-botao>
    <app-botao [numbers]="'L'" class="sinais" (onClick)="limpar()"></app-botao>
  </app-linha>
</div>