<div class="border p-4 position-relative">
  <div class="person position-absolute"></div>
  <h6 class="d-flex justify-content-between"> <span>Sobre: Vanessa da Silva</span> <span
      class="material-symbols-outlined">
      expand_more
    </span> </h6>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
    literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
    College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
    going through, ical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
    professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
  </p>
  <div class="d-flex justify-content-end gap-3">
    <small>Comentários</small>
    <div><span class="material-symbols-outlined">
      thumb_up
      </span>
    </div>
    <div><span class="material-symbols-outlined">
      thumb_down
      </span>
    </div>
  </div>
</div>