<app-header></app-header>
<main style="margin-top: 20px;" class="mx-5">
    <div>
        <button class="btn btn-primary">Reclame aqui!</button>
        <button class="btn btn-primary">Avise aqui!</button>
    </div>
    <div style="display: flex;">
        <div class="container container-msg">
            <div class="barra-ordenacao mb-5">
                <div class="">Ordenar</div>
                <span class="material-symbols-outlined">
                    expand_more
                    </span>
            </div>
            <app-mensagem style="width: 90%"></app-mensagem>
        </div>
        <div style="border: 1px solid black; width:25%; height: 70vh; margin: 40px;">

        </div>
    </div>
</main>