
#fundoPretoModais {
    background-color: rgba(0, 0, 0, 0.507);
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
}

.container-msg{
    border: 1px solid rgb(163, 163, 163);
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.barra-ordenacao{
    background-color: antiquewhite;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
