span {
    cursor: pointer;
}

#modalReclamacoes {
    max-width: 20rem;
    min-width: 30rem;
    background-color: #FFFF;
    border-radius: 10px;
}

#topoModal {
    display: flex;
    justify-content: end;
    margin: 5px 5px 0 0;
}

#tituloReclamacoes {
    display: flex;
    justify-content: center;
    color: #0047B6;
}

#containerInput {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#containerSobreQuem {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#inputReclamacoes {
    resize: none;
    background-color: #d9d9d9ad;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
}

#textoSobreQuem {
    font-weight: 500;
    display: flex;
    justify-content: start;
}

#linhaAbaixoTexto {
    display: flex;
    justify-content: space-between;
}

#funcionarios {
    outline: none;
}

#selectPessoa {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#funcionarios {
    outline: none;
    width: 10rem;
    cursor: pointer;
}

#iconAddImagem {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFF;
    padding: 5px;
    background-color: #0047B6;
    border-radius: 10px;
}

#linhaDeixarAnonimo {
    display: flex;
    align-items: center;
}

#checkAnonimo {
    width: 15px;
    height: 15px;
    margin-right: 1%;
}

#botaoReclamar {
    margin: 5% 0;
    display: flex;
    justify-content: center;
}

#buttonReclamar {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    width: 50%;
    background-color: #0047B6;
    color: #FFF;
    font-weight: 600;
}